/* Fix issues for dark theme and style services cards */

/* Dark theme overrides */
[data-section-theme="dark"] {
  --text-color: var(--color-white);
  --section-title-color: var(--color-white);
  background: var(--color-black);
}
[data-section-theme="dark"] .footer-address {
  color: var(--text-color);
}
[data-section-theme="dark"] .social-link {
  display: block;
}
[data-section-theme="dark"] .social-link svg {
  fill: var(--text-color);
}

/* Services card styling */
.card-services .card-title {
  margin: 0;
}
.card-services a {
  display: block;
  padding: 2rem;
  background-color: var(--color-light-grey);
  text-decoration: none;
}
.card-services a:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  text-decoration: none;
}
